.contenedor {

   
}

.contenedor .caja1{
    display: inline-block;
    width: 300px;
    height: 50px;
    background-color: brown;
    text-align: center;
   
    border: double 10px black;
    border-radius: 10px;
}

.contenedor .caja2{
    display: inline-block;
    width: 300px;
    height: 50px;
    background-color: aquamarine;
    text-align: center;
   
    border: solid 10px black;
    border-radius: 10px;
}

.contenedor .caja3{
    display: inline-block;
    width: 300px;
    height: 50px;
    background-color: pink;
    text-align: center;
   
    border: dotted 10px black;
    border-radius: 10px;
}

.contenedor .caja4{
    display: inline-block;
    width: 300px;
    height: 50px;
    background-color: aquamarine;
    text-align: center;
   
    border: none 10px black;
    border-radius: 10px;
}

.contenedor .caja5{
    display: inline-block;
    width: 300px;
    height: 50px;
    background-color: violet;
    text-align: center;
    
    border: solid 10px black;
    border-radius: 10px;
}

.contenedor .caja6{
        display: inline-block;
    width: 300px;
    height: 50px;
    background-color: red;
    text-align: center;
    
    border:dashed 10px black;
    border-radius: 10px;

}

