*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barraSup {
    display: inline-block;
    flex-direction: row;
    
    
}
.menuBarraSup nav{
    display: block;
}
.menuBarraSup nav ul li {
    display: inline-block;
    flex-direction: row;
    justify-content: flex-end;    

}
/*.menuBarraSup nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}*/
.barraSup h4{
    background-color: black;
    color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 12px;
    font-style: normal;
    font-weight: lighter;
    position: absolute;
    
    height: 12px;
    left: 0px;
    top: 0px;

}


header{
    background-color: #F0A83E;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.areaPrincipal{
    background-image: url(./img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-size:cover;
    background-attachment:local;
    height: 1000px;
    padding: 20px;

}

main{
    font-family: 'Roboto', sans-serif;

}
.bannerPlato{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #3C2313;
    text-align: center;
}

.texto1{
    background-color: white;
}

.texto3{
    background-color: #F0A83E;
    color: white;
}


.footer1{
    background-color: #3C2313;
    color: white;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.footer2{
    background-color: black;
    padding: 1px;
    color: white;
}
