.barraSup{
    background-color: black;
    color: #F3F3F3;
    
    font-style: normal;
    font-weight: normal;
    
}

header{
    background-color: #F0A83E;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.areaPrincipal{
    background-image: url(./img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-size:cover;
    background-attachment:local;
    height: 1000px;
    padding: 20px;

}

main{
    font-family: 'Roboto', sans-serif;

}
.bannerPlato{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #3C2313;
    text-align: center;
}

.texto1{
    background-color: white;
}

.texto3{
    background-color: #F0A83E;
    color: white;
}


.footer1{
    background-color: #3C2313;
    color: white;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.footer2{
    background-color: black;
    padding: 1px;
    color: white;
}
